<ion-view title="Login" hide-nav-bar="true" id="page5" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 283px; height: 280px;"></div>
        <form id="login-form2" class="list ">
            <ion-list id="login-list1" class=" ">
                <label class="item item-input item-floating-label " id="login-input1">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="Email">
                </label>
                <label class="item item-input item-floating-label " id="login-input2">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Password">
                </label>
            </ion-list>
            <div class="spacer" style="width: 283px; height: 29px;"></div>
            <button id="login-button1" style="border-radius:1px 1px 1px 1px;" class=" button button-energized  button-block ">Log in</button>
        </form>
    </ion-content>
</ion-view>